<ion-view view-title="Admob">
  	<ion-content padding="10">
      <div class="list">
        	<button class="button button-block button-{{appColor}}">
         	Admob Demo Page
         </button>
      </div>
  </ion-content>
</ion-view>