<ion-view view-title="{{heading}}">

   <ion-content class="post-content">
   	<ion-refresher
       	pulling-text="Pull to refresh..."
       	on-refresh="doRefresh()">
     	</ion-refresher>


        <div class="list card" id="item-{{$index}}" ng-repeat="item in items" data-tap-disabled="true" on-swipe-up="onSwipeUp({{$index}})" on-swipe-down="onSwipeDown({{$index}})" on-swipe-right="onSwipeRight({{$index}})" on-swipe-left="onSwipeLeft({{$index}})">
           <div class="item item-image">
             <img ng-src="{{item.image || 'img/photo.png'}}"></img>
           </div>
           <div class="item tabs tabs-secondary tabs-icon-left">
             <a class="tab-item" ng-click="speak(item.title,item.description);">
               <i id="like" ng-class="{'icon ion-android-volume-up': liked, 'icon ion-android-volume-off': !liked}" ng-click="liked=!liked"></i>

             </a>
             <a class="tab-item" ng-show="item.source" ng-click="openLinkArticle(item.source)">
               <i class="icon ion-ios-paper"></i>
               Full news
             </a>
             <a class="tab-item" ng-click="shareArticle(item.title,item.url);">
               <i class="icon ion-share"></i>
               Share
             </a>
           </div>
          <div class="item item-body">
           		<h2>{{item.title}}</h2>
             	<!-- <p>{{item.created_dt}} by {{item.author.user_full_name}} from {{item.source_title}}</p> -->
           		<div ng-bind-html="item.description | cut:true:200:' ...'">
             	</div>
           </div>
           <div class="item tabs tabs-secondary tabs-icon-left">
             <!-- <a class="tab-item" ng-click="readMore($index);">
               <i class="icon ion-android-open"></i>
               Read more
             </a>
             <a class="tab-item" ng-show="item.source" ng-click="openLinkArticle(item.source)">
               <i class="icon ion-ios-paper"></i>
               Full news
             </a>
             <a class="tab-item" ng-click="shareArticle(item.title,item.url);">
               <i class="icon ion-share"></i>
               Share
             </a> -->
           </div>

         </div>

  		</div>


      <ion-infinite-scroll
       	ng-if="postsCompleted == false"
       	on-infinite="getPosts()"
       	distance="10%">
     	</ion-infinite-scroll>
   </ion-content>
</ion-view>
